.button {
  border: none;
  outline: none;
  cursor: pointer;
}

.basic {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.1s;
  &:hover {
    color: #fff;
    transition: all 0.2s;
    background: #1e88e5;
  }
}
